@font-face{
  font-family: 'Bellefair-Regular';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('/src/fonts/Bellefair-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Mandali-Regular';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('/src/fonts/Mandali-Regular.ttf') format('truetype');
}