@import '../main.scss';
@import '../buttons.scss';
.banner{
  background: $mainBG;
  display: flex;
  justify-content: space-between;
  .imgWrap{
    width: 50%;
  }
  .txtWrap{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
      font-family: $Font;
      color: $fontColor;
      letter-spacing: 5px;
      font-size: 45px;
      margin-left: 45px;
    }
  }
}

.content{
  position: relative;
  .background{
    opacity: 0.25;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    width: 100%;
    min-height: 600px;
    max-height: 600px;
    overflow: hidden;
  }
  .comic{
    margin-top: -25%;
    .info{
      margin-left: 40px;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      h2{
        font-family: $font2;
        color: $fontColor;
        letter-spacing: 3px;
        font-size: 33px;
        margin-bottom: 45px;
      }
      .info-block{
        margin-bottom: 25px;
        width: 49%;
        float: left;
        display: block;
        p{
          font-family: $font2;
          color: $fontColor;
          font-size: 21px;
          letter-spacing: 2px;
          margin: 0;
          min-height: 31px;
          &:first-child{
            font-size: 25px;
            letter-spacing: 3px;
          }
        }
      }
      .placeOrder{
        margin-top: auto;
        position: inherit;
        display: flex;
        input{
          background: $tripBG;
          border: solid 2px $fontColor;
          font-family: $font2;
          color: $fontColor;
          font-size: 19px;
          width: 45px;
          padding: 4px 0px;
          text-align: center;
          margin-right: 30px;
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
          }
          &[type=number] {
            -moz-appearance: textfield;
          }
        }
      }
    }
    .desc{
      margin-top: 50px;
      font-family: $font2;
      color: $fontColor;
      font-size: 20px;
      letter-spacing: 3px;
      text-align: justify;
      margin-bottom: 100px;
    }
  }
}